<md-dialog aria-label="{'DETAILS' | translate}}">
    <form>
        <md-toolbar style="margin-bottom: 30px;">
            <div class="md-toolbar-tools">
                <h2>{{'SUMMARY' | translate}} {{sumSeconds | prettifySeconds}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="padding: 10px; width:800px; height:810px; overflow-y: scroll; overflow-x: hidden;">
            <div ng-repeat="group in groups" style="font-size: 20px; margin-top: 15px;">
                {{group.date | date:'yyyy.MM.dd'}}
                <div layout="row" style="font-size: 16px;">
                    <div layout="column" flex="70">
                        {{'JOB.TITLE' | translate}}
                    </div>
                    <div layout="column" flex>
                        {{'TIME' | translate}}
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" ng-repeat="job in group.jobList" style="font-size: 16px;">
                    <div layout="column" flex="70" style="word-wrap: break-word;">
                        {{job.jobTitle}}
                    </div>
                    <div layout="column" flex>
                        {{job.seconds | prettifySeconds}}
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-accent green" ng-click="closeDialog()" style="margin-right:20px;" >
                {{'CLOSE' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>